<h1>All Ledgers</h1>

<%= render 'ledgers/index', ledgers: Ledger.all %>

<h1>All Budgets</h1>

<%= render 'budgets/index', budgets: Budget.all %>

<div id="category-initializers-index" style="display: none;">
    <h1>Category Initializers</h1>

    <%= render 'category_initializers/index', initializers: CategoryInitializer.all %>
</div>
