<br>

<table id="ledger" class="ledger">
  <tr>
    <% @column_names.each do |col| %>
      <th>
        <%= col.titlecase() %>
      </th>
    <% end %>
    <% @totals_column_names.each do |col| %>
      <th>
        <%= col.titlecase() %>
      </th>
    <% end %>
  </tr>

  <%= render partial: 'transactions/transaction',
             collection: @transactions,
             locals: { column_names: @column_names, week_totals: @totals } %>

</table>

<br>
<br>
