<br>

<table id="ledger">
  <tr>
    <% @column_names.each do |col| %>
      <th>
        <%= col.titlecase() %>
      </th>
    <% end %>
    <% @totals_column_names.each do |col| %>
      <th>
        <%= col.titlecase() %>
      </th>
    <% end %>
  </tr>

  <%= render partial: 'transactions/transaction', collection: @transactions %>

</table>

<br>
<br>
