/* General styles that apply to a budget table*/
.budget {
    td {
        &.week {
            font-weight: bold;
        }

        &.description {
        }

        &.original-amount {
            text-align: right;
        }

        &.actual-amount {
            text-align: right;
        }

        &.comments {
        }
    }
}
