<br>
<span style="font-weight: bold">Data Source: </span><%= @upload.data_source %>
|
<span style="font-weight: bold">Date Uploaded: </span><%= @upload.created_at.localtime %>
|
<span style="font-weight: bold">Last Updated: </span><%= @upload.updated_at.localtime %>

<br>
<br>

<%= render 'form' %>

<br>
